/* img {
  width: 80%;
  height: 60%;
  background-color: #e8e8e8;
  margin: 10px;
}
*/
.item-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.item-card {
  width: 300px;
  height: auto;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  overflow: visible;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 25px;
}
/*
.item-name {
  margin: 10px;
  font-size: medium;
}

p {
  color: black;
  font-size: small;
  margin: 25px;
} */

.item-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.item-name {
  font-size: 1.2em;
  font-weight: bold;
  margin: 16px;
  text-align: center;
  color: #333;
}

.item-card img {
  width: 100%;
  height: 200px;
  /*object-fit: cover;
  border-bottom: 1px solid #ddd; /* Separate image from text */
}

.item-card p {
  margin: 8px 16px;
  font-size: 1em;
  color: #555;
}

.item-category-primary {
  color: #007bff;
  font-weight: bold;
}

.item-category-secondary {
  color: #28a745;
}
